.box {
  display: flex;
  align-items: center;
}
.button {
  background-color: rgb(127, 189, 189);
  border: none;
  width: 90px;
  height: 50px;
  margin: 10px;
  font-family: "bold-font";
  font-size: larger;
  border-radius: 4px;
  cursor: pointer;
  transition: 2s;
  border: 1px solid rgb(61, 85, 85);
}

.button:hover {
  transform: scale(1.1);
  background-color: azure;
}

.tittle {
  color: rgb(127, 189, 189);
  font-size: 5rem;
  -webkit-text-stroke: 1px rgb(61, 85, 85);
}
.subtittle {
  font-size: 3rem;
  color: rgb(127, 189, 189);
  -webkit-text-stroke: 1px rgb(61, 85, 85);
}

.image {
  width: 14rem;
}
